<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html ng-app="quickGrade">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="lib/angular-1.0.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="lib/underscore.js" type="text/javascript" charset="utf-8"></script>
    <script src="app.js" type="text/javascript" charset="utf-8"></script>
    <title>Quick! Grade!</title>
  </head>
  <body>
    <div id="menu" ng-controller="menuBarController">
      <div id="logo">QuickGrade!</div>
      <div id="nav">
        <ul>
          <li class="menu-item"><a download="data.csv" href="{{dataBlobURL}}">Download</a></li>
          <li class="menu-item" ng-click="alert('clicked')" ng-repeat="item in settings.menuItems">{{item.name}}
            <ul class="sub-menu">
              <li class="sub-menu-item" ng-repeat="child in item.children">{{child.name}}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div id="grading-view" ng-controller="assignmentController">
      <div class="doc" id="previous-submission" ng-show="getPreviousSubmission()">
        <div class="question">
          {{getCurrentSubmissionNumber() + 1}}. {{getCurrentQuestion()}}
        </div>
        <div id="previous-submission-response">
          {{getPreviousSubmission()}}
        </div>
        <div class="grade" ng-show="getPreviousSubmissionGrade()" id="previous-submission-grade">
          {{getPreviousSubmissionGrade()}}
        </div>
      </div>
      <div class="doc" id="current-submission">
        <div class="question" ng-hide="roundComplete()">
          {{getCurrentSubmissionNumber() + 1}}. {{getCurrentQuestion()}}
        </div>
        <div id="current-submission-response" ng-hide="roundComplete()">
          {{getCurrentSubmission()}}
        </div>
        <div id="controls">
          <div id="progress" ng-hide="roundComplete()">
            {{getCurrentSubmissionNumber() + 1}}/{{getNumberOfSubmissions()}}
          </div>
          <div id="grades">
            <button class="grade" ng-repeat="grade in [1,2,3,4,5]" ng-click="enterGrade(grade)" ng-hide="roundComplete()">{{grade}}</button>
            <button id="next-round-button" ng-click="nextRound()" ng-show="roundComplete()">Next Round</button>
          </div>
          <!-- <button ng-click="dump()">Dump Data</button> -->
        </div>
      </div>
    </div>
  </body>
</html>
