<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html ng-app="quickGrade">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="dummyData.js" type="text/javascript" charset="utf-8"></script>
    <script src="lib/angular-1.0.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="lib/underscore.js" type="text/javascript" charset="utf-8"></script>
    <script src="app.js" type="text/javascript" charset="utf-8"></script>
    <title>Quick! Grade!</title>
  </head>
  <body>
    
    <!-- Menu -->
    <div id="menu" ng-controller="menuBarController">
      <div id="logo">QuickGrade!</div>
      <div id="nav">
        <ul>
          <li class="menu-item">File
            <ul class="sub-menu">
              <li class="sub-menu-item"><a download="data.json" href="{{dataBlobURL}}">Download</a></li>
            </ul>
          </li>
          <li class="menu-item">Settings
            <ul class="sub-menu">
              <li class="sub-menu-item" ng-click="settings.showPaperStack = !settings.showPaperStack">
                {{settings.boolToVisibilityVerb(!settings.showPaperStack)}} Paper Stack
              </li>
              <li class="sub-menu-item" ng-click="settings.showJustGradedStack = !settings.showJustGradedStack">
                {{settings.boolToVisibilityVerb(!settings.showJustGradedStack)}} Just Graded Stack
              </li>
            </ul>
          </li>
          <li class="menu-item" ng-click="alert('clicked')" ng-repeat="item in settings.menuItems">{{item.name}}
            <ul class="sub-menu">
              <li class="sub-menu-item" ng-repeat="child in item.children">{{child.name}}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    
    <!-- Main Grading View -->
    <div id="grading-view" ng-controller="assignmentController">
      <!-- Just-Graded Submission -->
      <!-- TODO: refactor name -->
      <div class="doc" id="previous-submission" ng-show="getPreviousSubmission() && settings.showJustGradedStack">
        <div class="question">
          {{getCurrentSubmissionNumber() + 1}}. {{getCurrentQuestion()}}
        </div>
        <div id="previous-submission-response">
          {{getPreviousSubmission()}}
        </div>
        <div class="grade" ng-show="getPreviousSubmissionGrade()" id="previous-submission-grade">
          {{getPreviousSubmissionGrade()}}
        </div>
      </div>
      <!-- Current Submission to Grade -->
      <div class="doc" id="current-submission">
        <!-- TODO: figure out why !== null isn't working -->
        <div id="proposed-grade" ng-show="proposedGrade != null">
          {{proposedGrade}}
        </div>
        <div class="question" ng-hide="roundComplete()">
          {{getCurrentSubmissionNumber() + 1}}. {{getCurrentQuestion()}}
        </div>
        <div id="current-submission-response" ng-hide="roundComplete()">
          {{getCurrentSubmission()}}
        </div>
        <!-- Round Summary -->
        <div id="round-summary" ng-show="roundComplete()">
          <div id="progress-summary">
            <h2>Progress on Assignment {{getCurrentAssignmentName()}}</h2>
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Question</th>
                <th ng-repeat="hack in getAssignmentProgressSummary().maxRounds">Round {{$index + 1}}</th>
                <!-- <th>New Round</th> -->
              </tr>
              <tr ng-repeat="question in getAssignmentProgressSummary().questions">
                <td>{{$index + 1}}</td>
                <td ng-repeat="round in question">X</td>
                <td class="button-container"><button class="push-button" ng-click="newRound($index)"><strong>+</strong></button></td>
              </tr>
            </table>
          </div>
        </div>
        <div id="controls">
          <div id="progress" ng-hide="roundComplete()">
            {{getCurrentSubmissionNumber() + 1}}/{{getNumberOfSubmissions()}}
          </div>
          <div id="grades">
            <button class="grade" ng-repeat="grade in [1,2,3,4,5]" ng-mouseover="setProposedGrade(grade)" ng-mouseout="setProposedGrade(null)" ng-click="enterGrade(grade)" ng-hide="roundComplete()">{{grade}}</button>
            <!-- <button id="next-round-button" ng-click="nextRound()" ng-show="roundComplete()">Continue</button> -->
          </div>
          <button ng-click="dump()">Dump Data</button>
        </div>
      </div>
      <div class="doc" ng-show="settings.showPaperStack && getCurrentSubmissionNumber() < getNumberOfSubmissions() - 1" id="stacked-paper-1"></div>
      <div class="doc" ng-show="settings.showPaperStack && getCurrentSubmissionNumber() < getNumberOfSubmissions() - 2" id="stacked-paper-2"></div>
    </div>
  </body>
</html>
