body {
  background: #DDD url('theme/wooden desk/wood_texture.png') repeat fixed 0 0;
  padding: 0;
  margin: 0;
}

.doc {
  overflow: auto;
}

#current, #previous {
  position: absolute;
  background: #F7F7F7;
}


/* TODO: gradient!!! */
#current {
  background: rgb(238,238,238);
  background: -moz-linear-gradient(top,     rgba(240,240,240,1) 0%, rgba(230,230,230,1) 20%, rgba(250,250,250,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(230,230,230,1) 20%, rgba(250,250,250,1) 100%);
  background: linear-gradient(to bottom,    rgba(240,240,240,1) 0%, rgba(230,230,230,1) 20%, rgba(250,250,250,1) 100%);

  width: 595px;
  height: 770px;
  top: 50%;
  left: 50%;
  margin-top: -385px;
  margin-left: -297px;
  -webkit-box-shadow: 0 0 20px #444;
  -moz-box-shadow:    0 0 20px #444;
  box-shadow:         0 0 20px #444;
  overflow: hidden;
}

#current-submission-answer, #question {
  padding: 2% 4%;
  font: 1.4em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
/*  border: 1px solid #999;*/
  margin: 0 10%;
  margin-top: 5%;
  position: relative;
}

#current-submission-answer {
  height: 60%;
}

#question {
  overflow: auto;
  font-weight: bold;
  max-height: 15%;
/*  height: 15%;*/
}

/* Folded page effect - temporarily disabled as it conflicts with the box shadow */
/*#current:before {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0px 32px 32px 0;
  border-style: solid;
  border-color: #DDD transparent;
  background: #DDD url('theme/wooden desk/wood_texture.jpg') repeat fixed 0 0;

  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3), -1px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0    2px 2px rgba(0,0,0,0.3), -1px 2px 2px rgba(0,0,0,0.2);
  box-shadow: 0         2px 2px rgba(0,0,0,0.3), -1px 2px 2px rgba(0,0,0,0.2);
}
*/

#previous {
  -moz-box-shadow:    0 0 30px #999; /* FF3.5+ */
  -webkit-box-shadow: 0 0 30px #999; /* Saf3+, Chrome */
  box-shadow:         0 0 30px #999; /* Standard. Opera 10.5, IE9 */
  width: 340px;
  height: 440px;
  top: 5%;
  left: 5%;
  padding: 3px 4px;
  font: 0.7em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#previous-answer-grade {
  color: #EEE;

  -moz-border-radius: 99px; /* FF1+ */
  -webkit-border-radius: 99px; /* Saf3+, Chrome */
  -khtml-border-radius: 99px; /* Konqueror */
  border-radius: 99px; /* Standard. IE9 */

  background-color: rgba(0,0,0, 0.5);
  font-size: 1.2em;
  width: 2em;
  margin-left: -1em;
  text-align: center;
    position: absolute;
  top: 5%;
  right: 5%;
}

#controls {
/*  border: 1px solid red;*/
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 10%;
  width: 100%;
}

#grades {
  text-align: center;
  margin: auto auto;
}

#grades button.grade {
/*  background: rgb(238,238,238);
  background: -moz-linear-gradient(top,     rgba(220,220,220,1) 0%, rgba(180,180,180,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(220,220,220,1) 0%, rgba(180,180,180,1) 100%);
  background: -o-linear-gradient(top,       rgba(220,220,220,1) 0%, rgba(180,180,180,1) 100%);
  background: -ms-linear-gradient(top,      rgba(220,220,220,1) 0%, rgba(180,180,180,1) 100%);
  background: linear-gradient(to bottom,    rgba(220,220,220,1) 0%, rgba(180,180,180,1) 100%);
*/
  background: none;
  
  -moz-border-radius: 99px;
  -webkit-border-radius: 99px;
  border-radius: 99px;
  -webkit-background-clip: padding-box;

  border:none;

/*  color: #DDD;*/
  font-size: 1.4em;
  font-family: cursive;
  text-align: center;
  width: 2em;
  height: 2em;
  font-weight: bold;
  margin: auto 0.2em;
}

#grades button.grade:hover {
  border: 2px solid #999;
}
#grades button.grade:active {
  background: rgba(0,0,0,0.2);
  border: 2px solid #999;
}

#progress {
  position: absolute;
  bottom: 2%;
  right: 1%;
  font: 1.5em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
