body {
  padding: 0;
  margin: 0;
}

.box {
  
}

#current, #previous {
  position: absolute;
  background: #C4DEFF;
}

#current {
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
  -moz-box-shadow:    0 0 20px #444; /* FF3.5+ */
  -webkit-box-shadow: 0 0 20px #444; /* Saf3+, Chrome */
  box-shadow:         0 0 20px #444; /* Standard. Opera 10.5, IE9 */
}

#previous {
  -moz-box-shadow:    0 0 30px #999; /* FF3.5+ */
  -webkit-box-shadow: 0 0 30px #999; /* Saf3+, Chrome */
  box-shadow:         0 0 30px #999; /* Standard. Opera 10.5, IE9 */
  width: 450px;
  height: 300px;
  top: 10%;
}

#previous-answer-grade {
  color: #EEE;
  
  -moz-border-radius: 99px; /* FF1+ */
  -webkit-border-radius: 99px; /* Saf3+, Chrome */
  -khtml-border-radius: 99px; /* Konqueror */
  border-radius: 99px; /* Standard. IE9 */

  background-color: rgba(0,0,0, 0.5);
  font-size: 2em;
  width: 2em;
  left: 50%;
  margin-left: -1em;
  text-align: center;
  position: absolute;
  bottom: 10%;
}

#current-answer, #previous-answer {
  padding: 10px 16px;
  font: 1.4em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  border: 1px solid #999;
  width: 80%; /* 600 - 30*2 margin - 32*2 padding - 1*2 border */
  margin: 0 10%;
  margin-top: 1px; /* temp hack */
  height: 75%;
}

#previous {
  padding: 3px 4px;
  font: 0.7em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;  
}

#next-button {
  text-align: center;
  margin: auto auto;
}

#next-button button {
  font-size: 1.7em;
  text-align: center;
  margin: auto auto;
}

#progress {
  position: absolute;
  bottom: 0px;
  right: 10px;
  height: 10%;
  font: 1.5em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
