body {
  background: #DDD url('theme/wooden desk/wood_texture.jpg') repeat fixed 0 0;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
}

#menu, .grade, #previous-submission-grade, #next-round-button {
  font-family: 'Permanent Marker', cursive;
}

/* ========================== */
/* = Menu Bar / Site Header = */
/* ========================== */

#menu {
  position: absolute;
  z-index: 10;
  height: 1.5em;
  width: 100%;
  top: 0;
  background: rgb(153,205,220);
  background: -moz-linear-gradient(top,  rgba(153,205,220,1) 0%, rgba(133,185,211,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(153,205,220,1) 0%,rgba(133,185,211,1) 100%);
  background: linear-gradient(to bottom,  rgba(153,205,220,1) 0%,rgba(133,185,211,1) 100%);

  -webkit-box-shadow: 0px 5px 5px 0 #777;

  font-size: 2em;
}

/*#menu a {
  color: black;
  text-decoration: none;
}*/

#logo {
  position: absolute;
  padding-top:    0.em;
  padding-bottom: 0.3em;
  padding-left:   0.7em;
  padding-right:  0.7em;
}
#nav {
  float: right;
  height: 1.5em;
}

#nav ul {
  height: 1.5em;
  padding: 0;
  margin: 0;
}
.menu-item {
/*  border: 1px solid #f00;*/
  display: block;
  float: left;
  list-style: none;
  height: 1.0em;
  padding-top:    0em;
  padding-bottom: 0.5em;
  padding-left:   0.7em;
  padding-right:  0.7em;
}
.menu-item:hover {
  background-color: rgba(0,0,0, 0.1);
}
.menu-item .sub-menu {
  margin: 0;
  cursor: pointer;
  list-style: none;
  display: none;
}
.menu-item:hover .sub-menu {
  position: absolute;
  display: block;
  background: rgba(0,0,0,0.1);
}
.menu-item:hover .sub-menu-item {
  background-color: rgba(0,0,0,0.7);
  color: white;
  list-style: none;
  float: none;
  padding: 0;
  margin: 0;
  
  /* this feels like a hack. TODO: find out better way to properly align sub-menu items */
  margin-left: -0.7em;

  padding-left: 0.7em;
  padding-right: 0.7em;
/*  padding-top: 0.2em;*/
}
.sub-menu-item a {
  font-size: 0.8em;
  color: #D7D7D7;
  text-decoration: none;
}

/* ======================================================= */
/* = Grading View - The Current and Previous Submissions = */
/* ======================================================= */

.doc {
  overflow: auto;

  background: rgb(238,238,238);
  background: -moz-linear-gradient(top,     rgba(240,240,240,1) 0%, rgba(230,230,230,1) 20%, rgba(250,250,250,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(230,230,230,1) 20%, rgba(250,250,250,1) 100%);
  background: linear-gradient(to bottom,    rgba(240,240,240,1) 0%, rgba(230,230,230,1) 20%, rgba(250,250,250,1) 100%);
}

#current-submission, #previous-submission {
  position: absolute;
}

#current-submission {
  width: 595px;
  height: 770px;
  top: 50%;
  left: 50%;
  margin-top: -385px;
  margin-left: -297px;
  -webkit-box-shadow: 0 0 20px #444;
  -moz-box-shadow:    0 0 20px #444;
  box-shadow:         0 0 20px #444;
  overflow: hidden;
}

.question {
  overflow: auto;
  font-weight: bold;
  max-height: 15%;
}

#current-submission-response, #current-submission .question,
#previous-submission-response, #previous-submission .question {
  padding: 2% 4%;
  font-family "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  margin: 0 7%;
  margin-top: 5%;
  position: relative;
  overflow: auto;
}
#current-submission-response, #current-submission .question {
  font-size: 1em;
}
#current-submission-response {
  height: 60%;
}

#controls {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 10%;
  width: 100%;
}

#grades {
  text-align: center;
  margin: auto auto;
}

#grades button.grade {
  background: none;

  -moz-border-radius: 99px;
  -webkit-border-radius: 99px;
  border-radius: 99px;
  -webkit-background-clip: padding-box;

  border:none;

/*  color: #DDD;*/
  font-size: 1.3em;
  text-align: center;
  width: 2em;
  height: 2em;
  font-weight: bold;
  margin: auto 0.2em;
  border: 2px solid transparent;
}
#next-round-button {
  margin: auto 0.2em;
  font-size: 2em;
  background: none;
  border: none;
}
#grades button:hover {
  color: red;
  /*border: 2px solid #999;*/
}
#grades button:active {
  color: #B00000;
/*  background: rgba(0,0,0,0.2);*/
/*  border: 2px solid #999;*/
}


#progress {
  color: #777;
  position: absolute;
  top: 50%;
  height: 1.5em;
  margin-top: -0.75em;
  right: 5%;
  font-size: 1.4em;
}

#previous-submission {
  position: absolute;
  width: 340px;
  height: 440px;
  top: 5%;
  left: 5%;

  -moz-box-shadow:    0 0 30px #999;
  -webkit-box-shadow: 0 0 30px #999;
  box-shadow:         0 0 30px #999;

  overflow: hidden;
}

#previous-submission-response, #previous-submission .question {
  font-size: 0.7em;
}

#previous-submission-response {
  height: 70%;
  overflow: hidden;
}

#previous-submission-grade {
  position: absolute;
  top: 2%;
  right: 5%;

  color: red;
  font-size: 1.7em;
  text-align: center;

  background-color: none;
}

